* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #4facfe, #00c6ff);

  color: #222;
}

.container {
  width: 90%;
  max-width: 700px;

  background: white;
  padding: 40px;

  border-radius: 25px;

  border: 5px solid #1597e5;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 10px;

  color: #168bd3;

  font-size: 38px;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.question-box {
  display: flex;
  gap: 10px;
}

#questionInput {
  flex: 1;

  padding: 14px;

  border: 2px solid #bde7ff;
  border-radius: 12px;

  font-size: 16px;
  outline: none;
}

#questionInput:focus {
  border-color: #168bd3;
}

#askButton {
  padding: 14px 24px;

  border: none;
  border-radius: 12px;

  background: #e53935;

  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 0 #b71c1c;
}

#askButton:hover {
  background: #ef5350;
}

#askButton:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 #b71c1c;
}

.answer-box {
  margin-top: 30px;

  padding: 20px;

  background: #eaf8ff;

  border-radius: 15px;

  border: 2px solid #bde7ff;
}

.answer-box h2 {
  margin-bottom: 10px;
  color: #168bd3;
}

#answer {
  color: #555;
  line-height: 1.6;
}

